@page
@model E_commerce_website.Views.Profile.LoginModel
@{
}

<div>
    <div style="display:flex;margin-bottom: 20px;">
        <h1 style="margin:auto">Login</h1>
    </div>
    <div style="display:flex;margin-bottom: 20px;">
        <input style="margin:auto" placeholder="UserName" v-model="Name" />
    </div>
    <div style="display:flex;margin-bottom: 20px;">
        <input style="margin:auto" placeholder="UserPassword" v-model="Password" />
    </div>
    <div style="display:flex;margin-bottom: 20px;">
        <button style="margin:auto" v-on:click="login">
            Login
        </button>
    </div>
    <div style="display:flex">
        <button style="margin:auto" v-on:click="signup">
            GO to Signup
        </button>
    </div>
</div>

@section scripts{
    <script>
        const app = {
            data() {
                return {
                    Name: "",
                    Password: ""
                }
            },
            mounted() {

                console.log('HI')
            },
            methods: {
                login() {
                    var self = this;
                    axios.post('https://localhost:7033/Api/Profile/Login',
                        {
                            "Name": self.Name,
                            "Password": self.Password
                        })
                        .then(
                            res => {
                                console.log(res.data)
                                if(res.data.jwt!==""){
                                    localStorage.setItem("jwt", res.data.jwt)
                                    localStorage.setItem("userName", self.Name)
                                    alert("登入成功")
                                    window.location.href = "https://localhost:7033/Home"
                                }else{
                                    console.log(res.data)
                                    alert("登入失敗")
                                }
                            }
                        )
                },

                signup() {
                    var self = this;
                    window.location.href = "https://localhost:7033/Profile/Signup"
                }
            }
        }
        Vue.createApp(app).mount('#app');
    </script>
}