@page
@model E_commerce_website.Views.Profile.ProfileModel
@{
}

<div>
    <div v-show="display">{{user.name}}</div>
    <div v-show="display">{{user.password}}</div>
    <div v-show="display">{{user.email}}</div>
    <div v-show="display"><button v-on:click="edit">edit</button><button v-on:click="deleteUser">刪除帳號</button></div>
    <div v-show="!display"><input v-model="user.name" /></div>
    <div v-show="!display"><input v-model="user.password" /></div>
    <div v-show="!display"><input v-model="user.email" /></div>
    <div v-show="!display"><button v-on:click="check">確認</button></div>
    <div><button v-on:click="signout">登出</button></div>
</div>

@section scripts{
    <script>
        const app = {
            data() {
                return {
                    user:{},
                    display:true
                }
            },
            mounted() {
                //要先經過驗證才可以留在Profile，否則導向Login
                if(localStorage.getItem("jwt")){
                    var self = this;
                    var jwt = localStorage.getItem("jwt")
                    var userName = localStorage.getItem("userName")
                    axios.get(`https://localhost:7033/Api/Profile/Detail?userName=${userName}`,
                        {
                            headers: { Authorization: `Bearer ${jwt}` }
                        })
                        .then(
                            res => {
                                console.log(res.data)
                                self.user = res.data
                            }
                        )
                }else{
                    window.location.href = "https://localhost:7033/Profile/Login"
                }
            },
            methods: {
                edit(){
                    var self = this;
                    self.display = !self.display
                },
                check(){
                    var self = this;
                    var jwt = localStorage.getItem("jwt")
                    axios.post('https://localhost:7033/Api/Profile/Edit',
                        {
                            "id":self.user.id,
                            "name":self.user.name,
                            "password":self.user.password,
                            "email":self.user.email
                        },
                        {
                            headers: { Authorization: `Bearer ${jwt}` }
                        }
                        )
                        .then(
                            res => {
                                console.log(res.data)
                                self.user = res.data
                                alert("變更成功")
                                self.display = !self.display
                            }
                        )
                },
                deleteUser(){
                    var self = this;
                    var jwt = localStorage.getItem("jwt")
                    axios.post('https://localhost:7033/Api/Profile/Delete',
                        {
                            "id": self.user.id,
                            "name": self.user.name,
                            "password": self.user.password,
                            "email": self.user.email
                        },
                        {
                            headers: { Authorization: `Bearer ${jwt}` }
                        }
                        )
                    .then(
                        res => {
                            console.log(res.data)
                            alert(res.data)
                            localStorage.clear()
                            window.location.href = "https://localhost:7033/Home"
                        }
                    )
                },

                signout(){
                    var self = this;
                    localStorage.clear()
                    alert("登出成功")
                    window.location.href = "https://localhost:7033/Home"
                }
            }
        }
        Vue.createApp(app).mount('#app');
    </script>
}